<div class="main">
    <app-navbar></app-navbar>


    <!-- <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
      Link with href
    </a>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      Button with data-bs-target
    </button> -->

    <app-sidebar></app-sidebar>

    <div class="main_content ms-auto ps-5 pe-3">
        <router-outlet></router-outlet>
    </div>
  </div>
