
.statusPending {
  background: #FDF7EB;
  color: #FFA800;
  width: 81px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;

}

.statusApproved {
  background: #E3F9F1;
  color: #25B273;
  width: 81px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;

}

.statusRejected {
  background: #FFF0EF;
  color: #C33C50;
  width: 84px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;

}
