<div class="notificationHeader d-flex justify-content-between pb-md-2">
  <div>
    <span class="txt">Today</span>
  </div>
  <div>
    <a href=""> <span class="txtSee">See all <img alt="" src="./assets/images/see_all.svg"></span> </a>
  </div>
</div>

<div class="row mt-md-3">
  <div class="col-md-2 notificationBadge ">
    <p class="badgeTxt"> MN </p>
  </div>

  <div class="col-md-7">
    <div>
      <p class="newNotificationText mt-md-1">Micheal Ndubuisi from Technical is requesting for a loan</p>
    </div>
  </div>
  <div class="col-md-3 mt-md-3"><span class="timeTxt float-end mt-md-3"> 9:36 am</span>
  </div>

</div>
<div class="row mt-md-3">
  <div class="col-md-2 notificationBadge ">
    <p class="badgeTxt"> MN </p>
  </div>

  <div class="col-md-7">
    <div>
      <p class="newNotificationText mt-md-1">Micheal Ndubuisi from Technical is requesting for a loan</p>
    </div>
  </div>
  <div class="col-md-3 mt-md-3"><span class="timeTxt float-end mt-md-3"> 9:36 am</span>
  </div>

</div>



<div class="notificationHeader d-flex justify-content-between pb-md-2 mt-md-3">
  <div>
    <span class="Txt oldText">Yesterday</span>
  </div>
</div>

<div class="row mt-md-3">
  <div class="col-md-2 notificationBadge ">
    <p class="badgeTxt"> MN </p>
  </div>

  <div class="col-md-7">
    <div>
      <p class="newNotificationText oldText mt-md-1">Micheal Ndubuisi from Technical is requesting for a loan</p>
    </div>
  </div>
  <div class="col-md-3 mt-md-3"><span class="timeTxt float-end mt-md-3"> 9:36 am</span>
  </div>

</div>
<div class="row mt-md-3">
  <div class="col-md-2 notificationBadge ">
    <p class="badgeTxt"> MN </p>
  </div>

  <div class="col-md-7">
    <div>
      <p class="newNotificationText oldText mt-md-1">Micheal Ndubuisi from Technical is requesting for a loan</p>
    </div>
  </div>
  <div class="col-md-3 mt-md-3"><span class="timeTxt float-end mt-md-3"> 9:36 am</span>
  </div>

</div>
<div class="row mt-md-3">
  <div class="col-md-2 notificationBadge ">
    <p class="badgeTxt"> MN </p>
  </div>

  <div class="col-md-7">
    <div>
      <p class="newNotificationText oldText mt-md-1">Micheal Ndubuisi from Technical is requesting for a loan</p>
    </div>
  </div>
  <div class="col-md-3 mt-md-3"><span class="timeTxt float-end mt-md-3"> 9:36 am</span>
  </div>

</div>

<div class="notificationHeader d-flex justify-content-between pb-md-2 mt-md-3">
  <div>
    <span class="Txt oldText">Last Week </span>
  </div>
</div>

<div class="row mt-md-3">
  <div class="col-md-2 notificationBadge ">
    <p class="badgeTxt"> MN </p>
  </div>

  <div class="col-md-7">
    <div>
      <p class="newNotificationText oldText mt-md-1">Micheal Ndubuisi from Technical is requesting for a loan</p>
    </div>
  </div>
  <div class="col-md-3 mt-md-3"><span class="timeTxt float-end mt-md-3"> 9:36 am</span>
  </div>

</div>
<div class="row mt-md-3">
  <div class="col-md-2 notificationBadge ">
    <p class="badgeTxt"> MN </p>
  </div>

  <div class="col-md-7">
    <div>
      <p class="newNotificationText oldText mt-md-1">Micheal Ndubuisi from Technical is requesting for a loan</p>
    </div>
  </div>
  <div class="col-md-3 mt-md-3"><span class="timeTxt float-end mt-md-3"> 9:36 am</span>
  </div>

</div>

<div class="row NOTICE">
  <div class="col-md-9">
    <div>
      <p class="newNotificationText oldText mt-md-1">Micheal Ndubuisi from Technical is requesting for a loan</p>
    </div>
  </div>
  <div class="col-md-3 mt-md-3"><span class="timeTxt float-end mt-md-3"> 9:36 am</span>
  </div>
</div>

