.txt{
  font-family: "Lato Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
}

a{
  text-decoration: none;
}
.txtSee{
  font-family: "Lato Regular";
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
  line-height: 11px;
  text-align: left;
  color: #898989;
}

.notificationHeader{
  border-bottom:0.5px solid #D2D2D275;
}

.newNotificationText{
  font-family: "Lato Regular";
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;

}

.notificationBadge{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #292E50;
}

.badgeTxt{
  color:white;
  font-family: "Lato Regular";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px;
  text-align: left;
  margin-top: 11px;
}

.txtContainer{
  margin-left:55px;
}

.timeTxt{
  font-family: "Lato Regular";
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px;
  text-align: left;
  color: #898989;
}


.Txt{
  font-family: "Lato Regular";
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
  line-height: 11px;
  text-align: left;
}
.oldText{
  color: #898989;

}


