<section class="request_tables pending pt-5 mx-2">
    <div class="table_container px-3">
     <table class="table">
         <thead>
           <tr>
             <th scope="col">S/N</th>
             <th scope="col">Name</th>
             <th scope="col">Leave Type</th>
             <th scope="col">Leave Duration</th>
             <th scope="col">Department</th>
             <th scope="col">Status</th>
             <th scope="col"></th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th scope="row">1</th>
             <td>Chukwudi Ayobami</td>
             <td>Annual Leave</td>
             <td>22 days</td>
             <td>Administration</td>
             <td><span class="status pending px-3 py-1">Pending</span> </td>
             <td><span class="more_actions"><img src="../../../assets/images/more_actions.svg" alt=""></span></td>
           </tr>
           
         </tbody>
       </table>
    </div>
 </section>